.container{
    position: relative;
    width: 20em;
    min-height: 1.5em;
    border: .05em solid #777;
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    border-radius: .25em;
    outline: none;
}

.container:focus{
    border-color: hsl(200, 100%, 50%);
}

.value{
    flex-grow: 1;
}

.clear-btn{
    padding: 0;
    background: none;
    font-size: 1.25em;
    border: none;
    outline: none;
    color: #777;
    cursor: pointer;
}

.clear-btn:focus,
.clear-btn:hover{
    color: #999;
}

.divider{
    width: .05em;
    align-self: stretch;
    background-color: #777;
}

.caret{
    border: .25em solid transparent;
    border-top-color: #777;
    translate: 0 25%;
}

.options-list{
    background-color: #242424;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    border: .05em solid #777;
    border-radius: .25em;
    max-height: 10em;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: calc(100% + .25em);
    display: none;
    z-index: 10;
}

.options-list.show{
    display: block;
}

.option{
    padding: .25em .5em;
    cursor: pointer;
}

.option.selected{
    background-color: hsl(200, 100%, 70%);
}

.option.highlighted{
    background-color: hsl(200, 100%, 50%);
    color: white;
}

.option-badge{
    background-color: transparent;
    border: .05em solid #777;
    border-radius: .25em;
    cursor: pointer;
    margin: 0 .5em;
}

.option-badge:hover{
    background-color: rgba(255, 0, 0, 0.434);
}

.option-badge .remove-btn{
    color: red;
    margin: 0 .1em;
    font-size: 1.2em;
}