:root {
  font-family:'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
button:hover {
  border-color: #646cff;
  scale: 1.06;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.app{
  margin-top: 30px;
  width: 50%;
  height: auto;
  background-color: rgb(208, 208, 208);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.balance-display{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.balance{
  color: green;
}

.balance-display button{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-transaction-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.add-transaction-section .input-name, .add-transaction-section .input-value, .search-bar{
  width: 90%;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  padding-left: 10px;
}

input[type = 'number']::-webkit-inner-spin-button, input[type = 'number']::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

.add-transaction-section .radio-inputs{
  margin: 10px 0;
}

.budget-display{
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.budget-display .expense, .budget-display .budget{
  width: 45%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-weight: 600;
  font-size: 1.4em;
}

.expense-value{
  color: red;
}

.budget-value{
  color: green;
}

.transactions-list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  align-self: center;
}

.transactions-list h2{
  align-self: start;
  padding-left: 10px;
}

.transaction-container{
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 8px 0;
}

.transaction{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 38px;
  border: 1px solid gray;
  border-right: none;
  border-radius: 10px 0 0 10px; 
  background-color: rgb(195, 195, 195);
}

.transaction button {
  height: 25px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction-type{
  height: 100%;
  width: 4px;
  border-radius: 0 10px 10px 0;
}

.transaction-type.expense{
  background-color: red;
}

.transaction-type.budget{
  background-color: green;
}