.navbar{
  width: 100%;
  padding: 10px;
  background-color: #242424;
}

.navbar .search-input{
  background-color: white;
  border: 2px solid transparent;
  border-radius: .2em;
  outline: none;
  width: 200px;
  padding: 5px;
  transition: border 0.2s ease-in-out;
  color: #242424;
}

.navbar .search-input:focus, .navbar .search-input:hover{
  border: 2px solid rgba(59, 255, 48, 1);
}