:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #800082;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.title-h1{
  font-size: 100px;
  color: #b200b5;
  top: 0;
  margin: 0;
  z-index: -1;
  position: absolute;
}

.main-app-container{
  background-color: white;
  width: 70%;
  height: fit-content;
  min-height: 200px;
  padding: 2em 0;
  margin-top: 6em;
  border: .25em solid gray;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-app-container .search-movies-form{
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-app-container .search-movies-form .input-search-movie{
  width: 20em;
  outline: none;
  height: 2em;
  padding-left: 1em;
  border: 1px solid transparent;
  border-radius: .5em;
  background-color: rgb(195, 195, 195);
  color: #2e2e2e;
  transition: border 0.2s ease-in-out;
}

.main-app-container .search-movies-form .input-search-movie:focus{
  border: 1px solid gray;
}

.main-app-container .search-movies-form .submit-search-btn{
  height: 2.2em;
  border: 1px solid transparent;
  background-color: #800082;
  border-radius: .5em;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.main-app-container .search-movies-form .submit-search-btn:hover{
  transform: scale(1.1);
}