:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  overflow-x: hidden;
}

.title-header{
  width: 100%;
  background: linear-gradient(141deg,rgba(59, 255, 98, 1) 0%, rgba(59, 255, 48, 1) 100%);
  font-size: 1.5em;
  padding: 10px 0 10px 10px;
  color: rgb(50, 50, 50);
}

.main-container{
  background-color: white;
  color: #242424;
}

button{
  height: 3em;
  width: 8em;
  background-color: rgb(16, 202, 6);
  border: 1px solid transparent;
  border-radius: .5em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover{
  background-color: rgb(50, 255, 39);
  transform: scale(1.03);
}

.no-overflow{
  overflow: hidden;
}