:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items:stretch;
  justify-content: space-around;
  min-width: 320px;
  min-height: 100vh;
  color: black;
  text-align: center;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  align-self: center;
  color: rgb(0, 158, 0);
  text-shadow: 1px 1px 5px rgb(2, 97, 0);
  font-family: monospace;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #00a419;
  cursor: pointer;
  transition: all 0.25s;
  width: 300px;
}
button:hover {
  border-color: #646cff;
  background-color: #00db21;
  scale: 1.1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.project-name{
  margin: 0 0 0 10px;

}

.main-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.input-container{
  display: flex;
  gap: 20px;
  margin: 8px 0;
}

.submit-donation{
  width: 7em;
  height: 1.5em; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.project{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 30%;
  width: 40%;
  border-radius: 20px;
  border: gray 1px solid;
  margin-bottom: 20px;
  padding: 20px 0;
  background-color: #dadada;
}

.goal-reached{
  font-weight: bold;
  color: rgb(255, 51, 51);
}

.notify{
  position: absolute;
  bottom: 20px;
  height: 30px;
  width: 300px;
  background-color: rgb(108, 255, 255);
  color: black;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transform: scale(0.1);
  transition: all 0.3s ease-in-out;
}

.notify.animate{
  transform: scale(1);
}